# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution
build/
dist/
*.egg-info/

# Environments
.venv
venv/
env/
.env

# IDEs
.idea/
.vscode/

# Project Specific
logs/*
!logs/games/
logs/games/*
!logs/games/*.csv
!logs/games/*.png
checkpoints/
backup/
old_backup/
*.h5
*.weights.h5
latest_model.weights.h5
monitor.csv

# System
.DS_Store
Thumbs.db
nul
